* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 12px;
    line-height: 1.7;
    background-color: #f9f9f9;
}

li {
    list-style: none;
}

#content {
    width: 800px;
    margin: 0 auto;
    padding: 20px;
}

#content h1 {
    color: #0088bb;
}

#content .item {
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #888;
    box-shadow: 0 0 5px #999;
}

#content .item h2 {
    font-size: 16px;
    font-weight: bold;
    border-bottom: 2px solid #0088bb;
    margin-bottom: 10px;
}

#content .item li {
    display: inline;
    margin-right: 10px;
}

#content .item li a img {
    width: 230px;
    height: 230px;
    border: none;
}

#menu {
    position: fixed;
    top: 100px;
    left: 50%;
    margin-left: 410px;
    width: 60px;
    border: 1px solid #ccc;
}

#menu ul li a {
    display: block;

    font-size: 14px;
    font-weight: bold;
    color: #333;
    width: 60px;
    height: 50px;
    line-height: 50px;
    text-decoration: none;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

#menu .menu_border-no{
    border: none;
}

#menu ul li a:hover,
#menu ul li a.current {
    color: #fff;
    background: #0088bb;
}

* html, * html body {
    background-image: url(about:blank);
    background-attachment: fixed;
}

* html #menu {
    position: absolute;
    bottom: auto;
    top: expression(100+((e=document.documentElement.scrollTop)?e:document.body.scrollTop)+'px');
}