@import "../static/css/mixin";

body {
  width: 100%;
  height: 100%;
  font-family:"Microsoft YaHei UI";
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.section{
  position: absolute;
  @include px2rem(bottom, 30);
  @include px2rem(left, -20);
  @include font-dpr(18px);
  color: #b55923;
  width: 125%;
  transform: scaleX(0.8);
  -webkit-transform: scaleX(0.8);
}
