@import "normalize","reset";


/*---------------variable-------------------*/
$imgIcon:"../images/icon/";
$img:"../image/";

$font-family:"宋体";
$h_font-family:"Microsoft YaHei", "微软雅黑";


$header-height: 35px;
$search-bgcolor: #ff8c00;
$search-top: 23px;
$header-font:14px;
$white-color:#fff;
$shop_car-border:1px solid #e27a00;
$img-position:center no-repeat;


$nav-color:#1369c0;
$left_nav-color:#4593fd;
$left_nav-borderBottom: 1px solid #3487f2;
$left_nav-borderTop: 1px solid #5aa1fe;

$nav_list-border: 1px solid #ddd;

$imgNum-active:#ff7700;

$shop_main-height:44px;

$shopMain_list-height:400px;
$shopMain_list-border:1px solid #999;
$shopMain_list-color:#ff7300;

$footer-bgcolor:#d4d4d4;

/*--------------公用--------------------*/
.comWidth{
  width: 1000px;
  margin: 0 auto;
}

.leftArea{
  float: left;
}

.rightArea{
  float: right;
}

a{
  color: #656565;
}

.hide{
  display: none;
}

/*---------------topBar-------------------*/
.topBar{
  height: 31px;
  background-color: #f7f7f7;
  line-height: 31px;

  a:hover{
    color: red;
  }
}

.collection{
  background: url(unquote($imgIcon + "collection.png")) left center no-repeat;
  padding-left: 19px;
  font-weight:bold;

}

/*-------------------logo-----------------*/
.logoBar{
  height: 85px;
  background-color: #1d7ad9;
}

.logo{
  padding: 13px 0 0 39px;
}

/*--------------------search_box---------------------*/

.search_box{
  width: 430px;
  padding: $search-top 0 0 185px;
}
.search_text{
  width: 350px;
  height: $header-height;
  padding: 0 5px;
  background-color: $white-color;
}
.search_btn{
  width: 70px;
  height: $header-height;
  line-height:($header-height)\9;
  font-size: $header-font;
  background-color: $search-bgcolor;
  color: $white-color;
}

/*--------------------购物车------------------*/
.shopCar{
  width: 145px;
  height: $header-height;
  font-size: $header-font;
  color: $white-color;
  line-height: $header-height;
  background-color: $search-bgcolor;
  margin: $search-top 59px 0 0;
}

.shopText{
  height: 100%;
  width: 87px;
  border-right: $shop_car-border;
  background: url(unquote($imgIcon +"shopCar.png")) 10px $img-position;
  display: inline-block;
  text-indent: 40px;
}

.shopNum{
  width: 27px;
  height: $header-height;
  border-left: $shop_car-border;
  background: url(unquote($imgIcon + "shopIcon.png")) 33px $img-position;
  text-align: right;
  padding-right: 29px;
}

/*-----------------导航------------------------*/

nav{
  height: $header-height;
  background-color: $nav-color;
  color: $white-color;
}

.shopClass{
  width: 190px;
  position: relative;
  font-family: $font-family;

  h3{
    font-family:$h_font-family;
    line-height: $header-height;
    text-align: center;
  }

  i{
    width: 11px;
    height: 7px;
    background: url(unquote($imgIcon + "navIcon.png")) left $img-position;
    display: inline-block;
    margin-left: 11px;
  }
}

.nav{
  line-height:$header-height;
  
  li{
    float: left;
  }

  a{
    height: $header-height;
    display: inline-block;
    padding: 0 35px;
    color: $white-color;
  }

  .active{
    background-color: $left_nav-color;
  }
}


/*-------------------左侧导航栏------------------------*/
.shopClass_show{
  background-color: $left_nav-color;
  position: absolute;
  top:$header-height;
  width: 100%;
}

.shopClass_item{
  padding: 11px 10px 12px;
  border-bottom: $left_nav-borderBottom;
  border-top: $left_nav-borderTop;

  dt{
    height: 22px;
    background: url(unquote($imgIcon + "left_nav-tri.png")) right center no-repeat;
  }

  .b{
    font: $header-font bold;
  }

  a{
    color: $white-color;

    &:hover{
      text-decoration: underline;
    }
  }

  .left_nav-a{
    width: 48px;
    height: 20px;
    background: url(unquote($imgIcon + "left_nav-a.png")) left $img-position;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    text-decoration: underline;
  }
}

/*--------------shopClass_item active 状态--------------------------*/
.shopClass_active{
  background-color: $white-color;
  border-left: 1px solid $left_nav-color;

  dt{
    background: none;
  }

  a{
    color: black;
  }

  .left_nav-a{
    color: $white-color;
    text-decoration: none;
  }
}


/*-----------------左侧导航栏的菜单--------------------*/
$nav_list-height:24px;

.shopClass_list{
  width: 568px;
  border: $nav_list-border;
  position: absolute;
  left: 190px;
  top:$header-height;
}

.shopClass_cont{
  padding: 0 20px;
}

.shopList_item{
  padding: 10px 0 7px;
  border-bottom: 1px solid #e5e5e5;

  dt{
    color: #4b88da;
    font-weight:bold;
    height: $nav_list-height;
    line-height: $nav_list-height;
  }

  dd{
    padding-left: 68px;
    line-height: $nav_list-height;
    margin-top: -$nav_list-height;

    a{
      margin-right: 8px;/*换行产生间距1/3个字符4px,字符12px,要求12px*/
    }
  }
}

.shopList_links{
  padding: 14px 0 ;

  a{
    color: $white-color;
    background-color: #2785e6;
    height: 26px;
    line-height: 26px;
    display: inline-block;
    padding: 0 14px 0 8px;
    margin-right: 6px;/*换行间距大致是4px,4+6=10px*/
  }

  span{
    width: 11px;
    height: 7px;
    background: url(unquote($imgIcon + "nav_list-tri.png")) left $img-position;
    display: inline-block;
    margin-left: 7px;
  }
}

/*---------------banner---------------------*/
/*
.banner_bar, .imgBox,.imgBox img{
  width: 811px;
  height: 325px;
}
*/

.banner_bar{
  float: right;
  position: relative;
  overflow: hidden;
}

.imgBox{
  position: absolute;
  left:0;
  top:0;

  li{
    float: left;
  }

  img{
    display: block;
  }

}

.imgNum{
  position: absolute;
  left:0;
  bottom: 10px;
  width:100%;
  text-align: center;

  a{
    width: 20px;
    height: 5px;
    overflow: hidden;
    background: $white-color;
    display: inline-block;
  }

  .active{
    background-color: $imgNum-active;
  }
}


.banner_big{
  width: 811px;
  height: 325px;

  .imgBox{
    width: 2433px;
    height: 325px;
  }

  img{
    @extend .banner_big
  }
}


.banner_sm{
  width: 190px;
  height: $shopMain_list-height;

  img{
    @extend .banner_sm
  }

  .imgBox{
    width: 570px;
    height: $shopMain_list-height;
  }
}
/*------------------商品标题------------------------*/
.shopMain{

  header{
    height: $shop_main-height;
    padding: 15px 0;
    line-height: $shop_main-height;


    h3{
      font: 24px $h_font-family;
      font-weight: bold;
      float: left;
      padding: 6px 15px;
    }
  }
}

.shopMain-icon{
  float: left;
  width: $shop_main-height;
  height: $shop_main-height;
  background: url(unquote($imgIcon + "shop_mian-icon.png")) left $img-position;
}

.shopMain-more{
  float: right;
  font-family: $font-family;

  &:hover{
    text-decoration: underline;
  }
}


/*---------------------商品列表-------------------------*/
.shopMain_list{
  .shopMain_left{
    width: 190px;
  }

  .shopMain_right{
    width: 808px;
    height:$shopMain_list-height - 4px;
    border: $shopMain_list-border;
    border-bottom: 3px solid #ff7201;
    overflow: hidden;
  }
}

/*----------------------商品列表-右侧-------------------------*/

.shopMain_list-item{
  width: 201px;
  height: 279px;
  border-right: $shopMain_list-border;
  border-bottom: $shopMain_list-border;
  text-align: center;
  float: left;

  h3{
    font-size: 16px;
  }

  p{
    font-size: 14px;
    color: $shopMain_list-color;
  }
}

section .shopMain_list-item-no{
  border-right: none;
}

.shopMain_list-img{
  height: 218px;

  img{
    width: 132px;
    height: 151px;
    padding: 44px 34px 23px;
    display: block;
  }
}

/*---------------商品列表-小-----------------------*/
.shopMain_list-item2{
  width: 201px;
  height: 116px;
  border-right: $shopMain_list-border;
  float: left;
}

.shopMain_list-img2{
  text-align: center;
  float: left;

}

.shopMain_list-item-text{
  padding-top: 28px;
  width: 90px;
  float: left;

  h3{
    font-size: 12px;
    font-weight: 400;
    font-family: $font-family;
    color: $shopMain_list-color;
  }

  p{
    font-size: 16px;
    line-height: 30px;
  }
}

/*----------------------footer--------------------*/
.footer{
  margin-top: 40px;
  padding: 50px 0;
  text-align: center;
  background-color: $footer-bgcolor;
  line-height: 24px;
  font-family:$font-family;
  font-size: 14px;

  i{
    font-style: normal;
    margin: 0 5px;
  }

  a{
    color: #000;

    &:hover{
      color: $shopMain_list-color;
    }
  }
}

.footer_img{
  padding-top: 30px;

  img{
    margin: 0 8px;
  }
}